.heading {
    background-color: #4a90e2; /* Blue background */
    color: white;
    padding: 15px 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .tag {
    List-style:none
  }